.player-card {
  display: flex;
  align-items: center;
  font-family: "RubikGlitch", sans-serif;
  font-size: 30px;
  color: black;
  background-color: orange;
  width: 300px;
  border-radius: 50px 0px 0px 50px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    margin-left: 16px;
  }
}
