

.play-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.field-img{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.card-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stock{
    position: absolute;
    width: 150px;
}

.top-card{
    transition: all 125ms ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1) translateX(-10px) translateY(-10px) rotateZ(-5deg) rotateX(25deg) rotateY(-15deg);
    }
}

.cardGrabbed{
    animation: cardGrabbed-Animation 800ms ease-in-out;
    transform: scale(1) translateY(-330px) rotateZ(5deg);
}

.played-Card{
    transform: scale(1) translateY(-330px) rotateZ(5deg);
}

@keyframes cardGrabbed-Animation {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5) rotateZ(3deg);
    }
    100%{
        transform: scale(1) translateY(-330px) rotateZ(5deg);
    }
}

.player-card-position{
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add{
    position: absolute;
    right:32px;
    bottom: 32px;
}

.gamerule-infocard{
    position: absolute;
    top: 75%;
    bottom: 5%;
    left: 100px;
    right: 100px;
    width: 30%;
    min-width: 150px;
    overflow-y: auto;
}